@import "src/styles.less";

:host {
  display: flex;
  flex-direction: column;
  margin:
    48px
    0
    0
    0;
  padding:
    0
    16px
    16px;
  width: 100%;
}

h2{
  font-size: @third-heirarchy;
  margin:
    0 //top
    0 //left and right
    16px; //bottom
}

