@import "src/styles.less";

header {
  height: 72px;
  background-color: @primary-dark-blue-green;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 1.5em;
  font-size: 54px;
}

a {
  text-decoration: none;
  color: white;
  padding-left: 1em;
  font-size: @third-heirarchy;
}
