@import "src/styles.less";

:host {
  background-color: white;
  width: 860px;
  padding:
    36px
    110px
    36px;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}

.detail-view-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

}
h1 {
  margin: 0;
  font-size: @second-heirarchy;
  font-weight: 900;
  font-style: italic;

}

img {
  height: 208px;
  width: 327px;
  border-radius: 24px;
}
.city-info {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

