@import "src/styles.less";

:host {
  background-color: @deep-orange-yellow;
  box-shadow: -5px 5px 3px @golden-rod-yellow;
  color: white;
  width: 378px;
  height: 118px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: @third-heirarchy;
  border-radius: 16px;

}

img {
  height: 94px;
  width: 94px;
  padding: 0 8px 0 16px;
}
