@import "src/styles.less";

:host {
  width: 420px;
  height: 1000px;
  background-color: rebeccapurple;
  display: flex;
  flex-direction: column;
  padding: 0 //top
          8px //left and right
          0; //bottom
}





