@import "src/styles.less";

.jumbotron {
  height: 352px;
  background-color: @yellow-green-color;
}

.lead {
  color: @primary-dark-blue-green;
  text-align: center;
  margin: 0 0 0 0;
}

h1 {
  padding: 0;
  margin: 0 0 0 0;
  font-size: @first-hierarchy;
}

h2 {
  font-size: @second-heirarchy;
  margin: 0 0 0 0;
}

@media screen and (max-width: 650px) {
  h1 {
    font-size: @second-heirarchy;
    margin:
      0 //top
      @mobile-device-margin //left && right
      0;//bottom

  }

  h2 {
    font-size: @third-heirarchy;
    margin:
      0 //top
      @mobile-device-margin //left && right
      0;//bottom

  }
  main {
    margin: 32px;
  }
}

