@import "src/styles.less";

.jumbotron {
  height: 352px;
  background-color: @yellow-green-color;
}

.lead {
  color: @primary-dark-blue-green;
  text-align: center;
  margin: 0 0 0 0;
}

h1 {
  padding: 0;
  margin: 0 0 0 0;
  font-size: @zero-hierarchy;
}

h2 {
  font-size: @first-hierarchy;
  margin: 0 0 0 0;
}

