/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Vollkorn');
@import url('https://fonts.googleapis.com/css2?family=Roboto');

@serif-font-family: Vollkorn;
@sans-serif-font-family: Roboto;

body {
  margin: 0;
  font-family: @serif-font-family;
  font-size: xx-large;
}
