/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Vollkorn');
@import url('https://fonts.googleapis.com/css2?family=Roboto');

@serif-font-family: Vollkorn;
@sans-serif-font-family: Roboto;
@primary-dark-blue-green: #123b44;
@light-sea-green-color: #0C9581;
@yellow-green-color: #D7DA48;
@golden-rod-yellow: #F5B926;
@deep-orange-yellow: #F43A1D;


body {
  margin: 0;
  font-family: @serif-font-family;
  color: white;
}

main {
  margin: 70px;
  background-color: yellow;
}
