@import "src/styles.less";

:host {
  width: 860px;
  height: 447px;
  background-color: rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:
    120px
    292px
    120px;
}
